.image-caroussel-size{
  /* height: 750px; */
  object-fit: fill;
}
.backdrop-filler{
  background: #f3f4f6a6;
  backdrop-filter: blur(20px);
}

.centeredheight{
  top: 50%;
  transform: translate(0, -50%);
}


/* Slideshow */
