html,body{
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    background-color: #F9FAFB;

}
.image-caroussel-size{
  /* height: 750px; */
  object-fit: fill;
}
.backdrop-filler{
  background: #f3f4f6a6;
  backdrop-filter: blur(20px);
}

.centeredheight{
  top: 50%;
  transform: translate(0, -50%);
}
*{
  font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width: 1536px){
    html, body{
        font-size: 15px;
    }
}

@media only screen and (min-width: 1280px){
    html, body{
        font-size: 15px;
    }
}
@media only screen and (min-width: 1024px){
    html, body{
        font-size: 14px;
    }
}


@media only screen and (min-width: 768px){
    html, body{
        font-size: 14px;
    }
}

@media only screen and (min-width: 640px){
    html, body{
        font-size: 13px;
    }
}
@media only screen and (max-width: 639px){
    html, body{
        font-size: 12px;
    }
}




